---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About Us • Kelveneers">
  <!-- Coming Soon -->
  <section
    class="flex flex-col items-center justify-center min-h-screen py-16 sm:py-20 md:py-24 lg:py-28 xl:py-32"
  >
    <h1
      class="text-center font-[AcidGrotesk] font-light text-[#391B26] text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl mb-8"
    >
      Coming Soon
    </h1>
    <p class="text-center text-[#391B26] text-lg sm:text-xl md:text-2xl">
      We're working hard to bring you an amazing About Us page. Stay tuned!
    </p>
  </section>
</PageLayout>
