---
import "../styles/global.css";
import Hero from "../components/home/Hero.astro";
import Header from "../components/common/Header.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kelveneers</title>
  </head>

  <body>
    <Header />
    <Hero />
  </body>
</html>
