---
import { Image } from "astro:assets";
import heroBanner from "../../assets/hero-banner.png";
import fullLogo from "../../assets/full-logo.svg";
import heroMobileLogo from "../../assets/hero-mobile-logo.svg";

const imageModules = import.meta.glob("../../assets/hero-carousel/*.png", {
  eager: true,
});
const images = Object.values(imageModules).map((module: any) => module.default);
---

<!-- Hero Section -->
<section class="relative h-screen">
  <Image
    src={heroBanner}
    alt="Hero Background"
    loading={"eager"}
    class="w-full h-full object-cover"
  />

  <!-- SVG Overlay -->
  <!-- Mobile Logo (below 640px) -->
  <div
    class="absolute inset-x-0 top-6/13 -translate-y-1/2 flex flex-col items-center justify-center sm:hidden"
  >
    <Image
      src={heroMobileLogo}
      alt="Kelveneers Logo"
      loading={"eager"}
      class="h-auto w-[85%]"
    />
    <h3
      class="mt-14 px-12 text-center text-[#E5E2D6] font-[AcidGrotesk] font-extralight text-2xl"
    >
      Mastering Timbercraft <span class="italic">since 1980</span>
    </h3>
  </div>

  <!-- Desktop Logo (640px and above) -->
  <div class="hidden sm:block absolute left-[7%] top-[36%]">
    <Image
      src={fullLogo}
      alt="Kelveneers Logo"
      loading={"eager"}
      class="h-auto w-[424px] md:w-[480px] lg:w-[600px] xl:w-[700px] 2xl:w-[800px]"
    />
    <h3
      class="mt-3 md:mt-5 lg:mt-7 xl:mt-10 text-[#E5E2D6] font-[Altone] font-bold text-base md:text-xl lg:text-2xl xl:text-4xl tracking-[0.1em] md:tracking-[0.2em]"
    >
      DOORS <span class="mx-1 md:mx-2 lg:mx-5">|</span> WINDOWS <span
        class="mx-1 md:mx-2 lg:mx-5">|</span
      > WOODWORK
    </h3>
  </div>

  <!-- Second H3 positioned at bottom -->
  <h3
    class="hidden sm:block absolute left-[7%] bottom-[7%] text-[#E5E2D6] font-[AcidGrotesk] font-extralight text-base sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
  >
    Mastering Timbercraft <span class="italic">since 1980</span>
  </h3>
</section>

<!-- Scrollable Image Container -->
<section>
  <div class="grid grid-cols-7 gap-0">
    {
      images.map((image, index) => (
        <Image
          src={image}
          alt=""
          loading={"lazy"}
          class="w-full h-full object-cover"
        />
      ))
    }
  </div>
</section>
