---
import { Image } from "astro:assets";
import timberSustainabilityCycleImage from "../../assets/Timber-Sustainability-Cycle-min.png";
---

<section class="px-[8.33vw] pb-[3.7vw]">
  <Image
    src={timberSustainabilityCycleImage}
    alt="Timber Sustainability Cycle"
    loading={"lazy"}
    class="w-full"
  />
</section>
