---
import { Image } from "astro:assets";
import timberSustainabilityCycleImage from "../../assets/Timber-Sustainability-Cycle-min.png";
---

<section class="px-4 md:px-8 py-0 md:py-10">
  <Image
    src={timberSustainabilityCycleImage}
    alt="Timber Sustainability Cycle"
    loading={"lazy"}
    class="w-full"
  />
</section>
